.left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #2d3844;
    padding: 20px;
    box-shadow: 4px 0px 10px rgba(220, 220, 220, 0.087);
    justify-content: space-around;
    grid-row: 1 / 3;
}

.left-nav img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#game-logo {
    width: 3.3rem;
    height: 3.3rem;
    border: solid 1px whitesmoke;
    border-radius: 60px;
}

.manager-options {
    display: flex;
    flex-direction: column;
}

.manager-options img {
    padding: 0.3rem;
    margin-top: 0.8rem;
    transition: box-shadow 0.3s ease-in-out;
}

.manager-options img:hover {
    box-shadow: 0px 3px 0px whitesmoke;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#conf-wheel:hover {
    display: inline-block;
    animation: rotate 1s linear infinite;
}