.squad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
    margin-top: 4rem;
}

.player-card {
    background-color: #2d3844;
    border: 2px solid #929a9e;
    border-radius: 20px;
    padding: 12px;
}

.player-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-img img {
    height: 10rem;
    width: 10rem;
}

.player-immutableinfo {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
}

hr {
    color: #929a9e;
}

.player-immutableinfo p {
    font-size: 18px;
    font-weight: bold;
}

.player-immutableinfo img {
    width: 1.2rem;
    height: 0.8rem;
    border: 1px solid #000;
    background-color: rgba(0,0,0,.05);
}

.overall-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 15px;
}

.overall-info p {
    color: #EAC452;
    font-weight: 500;
}

.player-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
}